{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.deadline }}</td>
                    <td><a href="{{ path('delete', {'id': todo.id}) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ form(todoForm) }}
{% endblock %}
