{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <div id="page-container">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.deadline }}</td>
                        <td><a v-on:click="deleteTodo({{ todo.id }})">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {# Corresponds to the `name` parameter of `addEntry` in webpack.config.js #}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
